<mat-card class="example-card">

	<mat-card-header>
		<mat-card-title>Githbub users search</mat-card-title>
	</mat-card-header>

	<mat-card-content>

		<form>
			<div class="grid">

				<div class="grid__item">
					<mat-form-field class="example-full-width">
						<input #name matInput placeholder="User name" (keyup)="onParamChange('name', name.value)" [value]="filter.name">
					</mat-form-field>
				</div>

				<div class="grid__item">
					<span class="label">Repos: </span>
					<mat-slider #repos min="0" max="100" step="1" [value]="filter.repos" thumb-label="true" (change)="onParamChange('repos', repos.value)"></mat-slider>
				</div>

				<div class="grid__item">
					<span class="label">Followers: </span>
					<mat-slider #followers min="0" max="1000" step="1" [value]="filter.followers" thumb-label="true" (change)="onParamChange('followers', followers.value)"></mat-slider>
				</div>
			</div>
		</form>

	</mat-card-content>
</mat-card>
